
@tailwind base;
@tailwind components;
@tailwind utilities; 

.App{
    text-align: center;
}
.Home{
    position: relative;
}

.img-cart{
    width:90px;
    position:absolute;
    right:0px;
    top:0px;
}
button:hover{
      box-shadow: 3px 4px  4px  black;
}